.footer {
	background-color: #363636;
	color: white;
	width: 100%;
	margin-bottom: -20px;
	.footer__subtitle {
	  font-family: Shrikhand, sans-serif;
	  margin: 20px;
	}
	.link {
	  color: white;
	  text-decoration: none;
	  &:hover {
		text-decoration: underline;
	  }
	}
	.footer__icon {
	  display: flex;
	  align-items: center;
	  margin: 20px;
	  p {
		margin: 0;
		i {
		  margin-right: 5px;
		}
	  }
	}
	.Footer__mail {
	  color: white;
	  p {
		margin: 20px;
	  }
	  &:hover {
		text-decoration: underline;
	  }
	}
  }
  