@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;600;800&family=Raleway&family=Shrikhand&display=swap";
@import "https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;600;800&family=Raleway&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap";
@import "_Menu.scss";
@import "_footer.scss";
@import "animations.scss";
@import "utils/variables";
@import "utils/loading";

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0px;

  .header {
    width: 100%;
    text-align: center;
    margin: 5px auto;
  }

  section {
    width: 100%;
    text-align: center;
  }

  h2 {
    text-align: left;
    margin-left: 20px;
  }
}

.menu__localization {
  background-color: #eaeaea;
  width: 100%;
  height: 40px;
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.75);
  padding: 20px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
}
.menu {
  background-color: $background-color-light;
  .menu__title {
    margin-top: 40px;
  }
  .menu__button {
    background-image: linear-gradient($primary-color, $secondary-color);
    border: none;
    height: 45px;
    border-radius: 30px;
    box-shadow: 2px 1px 7px -3px $dark;
    color: #f6f6f6;
    cursor: pointer;
    padding: 10px 20px;
    margin: 20px 0px 60px 0px;
  &:hover{
    background-image: linear-gradient($secondary-color, $primary-color);
  }
  }
}
.header__logo {
  width: 10rem;
  margin: 20px 0px 5px 0px;
  font-weight: 800;
}
#attr::before {
  align-items: center;
  background: #9256dc;
  border-radius: 30px;
  color: #f6f6f6;
  display: flex;
  counter-increment: section;
  content: counter(section) "";
  font-size: 18px;
  font-weight: 500;
  height: 40%;
  justify-content: center;
  left: -15px;
  margin-right: 50px;
  position: absolute;
  width: 9%;
}
.rules__functions-list {
  display: inline-flex;
  flex-direction: column;
  counter-reset: section;
  padding: 0 20px;
  gap: 20px;
  list-style-type: none;
  margin: 0px 0px 60px 0px;

  .rules__function-item {
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: 3px 2px 5px $shadow-color;
    cursor: pointer;
    font-size: 20px;
    opacity: 1;
    padding: 25px;
    position: relative;

    &:hover {
      background-color: $hover-color;
    }
    &:hover i{
      color: #9256dc;
    }
    a {
      text-decoration: none;
      color: black;
    }
    i {
      color: $shadow-color;
      font-weight: 900;
      margin-right: 10px;
    }
  }
}

.restaurants {
  background-color: $background-color-dark;
  border-radius: 0px;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  text-align: left !important;
  margin-bottom: -20px;
  .restaurants__title {
    margin: 60px 0px 0px 20px;
  }
  .fas {
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 80%;
    color: transparent;
    background: linear-gradient(#9356DC,$secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
  
    &:hover{
        opacity: 1;
        transition-duration: 0.50s;
    
    }
  }
  .restaurant_cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    .restaurants__card-figcaption {
      text-align: left;
    }
  }

  .card-image {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 200px;
  }

  .card-figure {
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    box-shadow: 2px 2px 5px $shadow-color;
  }

  .card-title-bold {
    margin: 0px 0px 10px 20px;
  }
  .restaurants__card-title {
    margin: 10px 0px 15px 0px;
  }
  .card-location {
    margin: -10px 0px 0px 20px;
    padding: 0px 0px 15px 0px;
  }

  #restaurant {
    h2 {
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      margin: 0;
      padding: 20px 30px;
    }

    .card {
      p {
        font-size: 14px;
        line-height: 16px;
        margin: 5px;
      }
    }
  }
}

a {
  text-decoration: none;
  color: $dark;
}

.card-new {
  background-color: #99e2d0;
  border-radius: 5px;
  color: #1b6150;
  font-size: 17px;
  padding: 10px;
  position: absolute;
  right: 15px;
  top: 7px;
}

.fa-regular,
.far {
  font-weight: 400;
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 80%;
  
}



.card {
  width: 246px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  border-radius: 20px;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  @include spinner-blocks;
}

.loading-background {
  @include loading-background;
}


@media only screen and (min-width: 975px) and (max-width: 1331px){

ul{
  display: flex;
  flex-direction: row !important;
}

.restaurants__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto;
}


.rules__functions-list {
  display: flex;
  justify-content: space-evenly;

}

.restaurants .card-figure {
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  box-shadow: 2px 2px 5px $shadow-color;
  width: 300px;
  flex-basis: calc(50% - 10px); /* set the width of each element */
  margin-bottom: 20px;

}
.footer__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.footer .footer__subtitle {
  padding-top: 20px;
}
}

@media only screen and (min-width: 1332px){

  ul{
    display: flex;
    flex-direction: row !important;
  }
  
  .restaurants__list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    
  }
  
  
  .rules__functions-list {
    display: flex;
    justify-content: space-evenly;
   width: 100%;
  }
  
  .restaurants .card-figure {
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    box-shadow: 2px 2px 5px $shadow-color;
    width: 300px;
  }
  .footer__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
  }
  
  .footer .footer__subtitle {
    padding-top: 20px;
  }
  }