@mixin purple_dot{
    align-items: center;
    background: #9256dc;
    border-radius: 30px;
    color: #f6f6f6;
    display: flex;
    counter-increment: section;
    content: counter(section) "";
    font-size: 18px;
    font-weight: 500;
    height: 40%;
    justify-content: center;
    left: -15px;
    margin-right: 50px;
    position: absolute;
    width: 9%;
  
}