$background-color-light: #f7f7f7;
$background-color-dark: #f2f2f2;
$primary-color: #9356dc;
$secondary-color: #ff79da;
$hover-color: #f5edfe;
$shadow-color: #818181;
$animation-color: #99E2D0;
$dark:#000;
